@import "tailwindcss";

@font-face {
  font-family: "Manrope Variable";
  font-display: swap;
  font-style: normal;
  font-weight: 200 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
}

@theme {
  --font-sans: "Manrope Variable", sans-serif;
}
